/* You can add global styles to this file, and also import other style files */
body {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%) no-repeat;
  overflow: auto;
}
html{
   height: 100%;
   overflow: hidden;
  scroll-behavior: smooth;
  background-repeat: no-repeat;
}
