<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
    <a class="nav-item nav-link" routerLink="gallery">Gallery</a>
  </div>
</nav>

<!-- main app container -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser === null">
  <div class="navbar-nav">
    <a class="nav-item nav-link" >Sign In</a>
    <a class="nav-item nav-link" >Register</a>
    <a class="nav-item nav-link" >Categories</a>
  </div>
</nav>
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
  <h1 class="header">{{title}}</h1>
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <alert></alert>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<!-- credits -->
<div class="text-center">
  <p>
    <a>Copyright © SuperNova 2019. All Right Reserved.</a>
  </p>
</div>


